annotated-types==0.7.0
blis==0.7.11
catalogue==2.0.10
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloudpathlib==0.20.0
colorama==0.4.6
confection==0.1.5
conllu==6.0.0
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cymem==2.0.8
diskcache==5.6.3
en-core-sci-lg==0.5.4
en-core-sci-scibert==0.5.4
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
en_core_web_trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.8.0/en_core_web_trf-3.8.0-py3-none-any.whl
filelock==3.16.1
fsspec==2024.10.0
fuzzywuzzy==0.18.0
huggingface-hub==0.26.5
idna==3.10
imbalanced-learn==0.12.4
imblearn==0.0
Jinja2==3.1.4
joblib==1.4.2
langcodes==3.5.0
language_data==1.3.0
Levenshtein==0.26.1
llama_cpp_python==0.3.2
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mpmath==1.3.0
murmurhash==1.0.10
networkx==3.4.2
nltk==3.9.1
nmslib-metabrainz==2.1.3
numpy==1.26.4
packaging==24.2
pandas==2.2.3
pillow==11.0.0
preshed==3.0.9
psutil==6.1.0
pybind11==2.13.6
pydantic==2.10.0
pydantic_core==2.27.0
Pygments==2.18.0
pysbd==0.3.4
python-dateutil==2.9.0.post0
python-Levenshtein==0.26.1
pytz==2024.2
PyYAML==6.0.2
RapidFuzz==3.10.1
regex==2024.11.6
requests==2.32.3
rich==13.9.4
safetensors==0.4.5
scikit-learn==1.6.0
scipy==1.14.1
scispacy==0.5.5
sentence-transformers==3.3.1
shellingham==1.5.4
six==1.17.0
smart-open==7.0.5
spacy==3.7.5
spacy-alignments==0.9.1
spacy-curated-transformers==0.3.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-transformers==1.3.5
srsly==2.4.8
sympy==1.13.1
thinc==8.2.5
threadpoolctl==3.5.0
tokenizers==0.15.2
torch==2.5.1
tqdm==4.67.0
transformers==4.36.2
typer==0.13.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
wasabi==1.1.3
weasel==0.4.1
wrapt==1.16.0
